{% extends 'base.html.twig' %}

{% block title %}Coaching solo{% endblock %}

{% block body %}
<style>
    .example-wrapper {text-align: center; margin: 8em auto; max-width: 800px; width: 800%; font: 18px/1.5 sans-serif; font-family: Verdana; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
</style>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.pexels.com/photos/3838937/pexels-photo-3838937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/1865131/pexels-photo-1865131.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/3838937/pexels-photo-3838937.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>









<div class="example-wrapper" >
    <h1>cours de small group </h1>
    <h3 style="color:orange;">Cardio</h3>
    <br>
      <h4>HAUTE INTENSITÉ</h4>
        <h4>45min/60min</h4>
</div>


<section class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img alt="Web Studio" class="img-fluid" src="https://images.pexels.com/photos/4498577/pexels-photo-4498577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <div>
          <h2>Le coaching solo</h2>
          <p class="margin-top-s">L’entraînement cardio vasculaire est une discipline qui permet aux pratiquants de travailler leur endurance et d’améliorer leurs performances cardiaques.<br><br> Pour y parvenir, il est nécessaire de répartir l’effort physique sur la durée et d’opter pour une intensité d’exercice plutôt moyenne afin d’être capable de tenir le rythme. Tapis, vélos, elliptiques, rameurs, corde à sauter… Fitness Park met à la disposition de ses adhérents tout le matériel nécessaire pour les exercices cardio vasculaires. <br><br>Le cardio training est également intéressant pour les sportifs qui sont en période de sèche ou les personnes désirant perdre du poids car il permet d’augmenter les dépenses caloriques journalières.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-0">
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
    <div>
      <h2>POUR QUI ?</h2>
      <p class="margin-top-s">Pour les novices qui souhaitent se mettre au sport, pour ceux qui veulent reprendre une activité sportive ou encore pour les sportifs avérés qui souhaitent accroître leur niveau d’endurance.<br><br>
        Le cardio-training s’adapte à tes besoins et à ton niveau d’endurance. Tu vas à ton rythme et augmente l’intensité et/ou la durée au fil des entraînements. Ta respiration se régule, tes muscles se développent et ton corps se transforme.</p>
    </div>
  </div>

  
      <div class="col-md-6 ">
        <div>
          <img alt="Web Studio" class="img-fluid" src="https://images.pexels.com/photos/6551133/pexels-photo-6551133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        </div>
      </div>
     
    </div>
  </div>
</section>

<section class="section mt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <img alt="Web Studio" class="img-fluid" src="https://images.pexels.com/photos/1865131/pexels-photo-1865131.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" />
        </div>
      </div>
      <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
        <div>
          <h2>POUR QUOI ?</h2>
          <p class="margin-top-s"><p>Avant tout pour travailler et développer ton endurance, tes performances cardiaques et ainsi améliorer ta condition physique.</p>

          <p> Le cardio training t’aidera également à :</p>
          <ul>
          <li>Perdre du poids : Tu brûles de nombreuses calories, diminues ta masse graisseuse, augmentes ta masse musculaire. Ton indice de masse corporelle (IMC) se rééquilibrera.</li><br>
          <li>Tonifier ton corps : ta silhouette se sculpte au fur et à mesure des efforts et des exercices.</li><br>
          <li>Améliorer ta coordination, ton équilibre et tes réflexes.</li><br>
          <li>Prévenir les maladies cardio-vasculaires</li><br>
          <li>Te préparer à des exercices plus intenses.</li><br>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="text-center mt-3 mb-3">
<a href="#" class="btn btn-success">Réserver une séance</a>
</div>
       
{% endblock %}
