<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    {% endblock %}

    </head>
    <body>
 

{% include "shared/_navbar.html.twig" %}
<div style="background-image : url(https://image.freepik.com/free-photo/abstract-luxury-plain-blur-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-63747.jpg)">
<div class="container pt-5" >
    {% block body %}{% endblock %}
</div>
</div>

    {% block javascripts %}{% endblock %}
    </body>
</html>
